<?xml version="1.0"?>
<!--Ensures only authorized admins can modify these settings.-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <admin>
                <children>
                    <Magento_Backend::admin>
                        <children>
                            <Magento_Config::config>
                                <children>
                                    <Vendor_ProductPrice::config translate="label">
                                        <label>Product Price Settings</label>
                                    </Vendor_ProductPrice::config>
                                </children>
                            </Magento_Config::config>
                        </children>
                    </Magento_Backend::admin>
                </children>
            </admin>
        </resources>
    </acl>
</config>